In [1]:
import pandas as pd

pd.Timestamp(2022, 8, 1)

Timestamp('2022-08-01 00:00:00')

In [2]:
from datetime import datetime

pd.Timestamp(datetime(2022, 8, 1))

Timestamp('2022-08-01 00:00:00')

In [3]:
pd.Period('2022-08')

Period('2022-08', 'M')

In [4]:
pd.Period('2022-08', freq='D')

Period('2022-08-01', 'D')

In [5]:
df = ['2022-08-01', '2022-09-01', '2022-10-01']
pd.to_datetime(df)

DatetimeIndex(['2022-08-01', '2022-09-01', '2022-10-01'], dtype='datetime64[ns]', freq=None)

In [6]:
df = pd.Series(['Sep 30, 2022', '2022-10-1', None])
pd.to_datetime(df)

0   2022-09-30
1   2022-10-01
2          NaT
dtype: datetime64[ns]

In [9]:
df = pd.DataFrame({'year': [2017, 2018,2019,2020,2021,2022],
                   'month': [5, 6, 7, 8, 9, 10],
                   'day': [30, 1, 2, 3, 4, 5],
                   'hour': [23, 0, 1, 2, 3, 4]})
pd.to_datetime(df)

0   2017-05-30 23:00:00
1   2018-06-01 00:00:00
2   2019-07-02 01:00:00
3   2020-08-03 02:00:00
4   2021-09-04 03:00:00
5   2022-10-05 04:00:00
dtype: datetime64[ns]

In [10]:
dates = ['2022-08-01', '2022-09-01', '2022-10-01']
index = pd.DatetimeIndex(dates)
index

DatetimeIndex(['2022-08-01', '2022-09-01', '2022-10-01'], dtype='datetime64[ns]', freq=None)

In [12]:
index = pd.date_range('2022-7-30', periods=250, freq='M')
index

DatetimeIndex(['2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28',
               '2023-03-31', '2023-04-30',
               ...
               '2042-07-31', '2042-08-31', '2042-09-30', '2042-10-31',
               '2042-11-30', '2042-12-31', '2043-01-31', '2043-02-28',
               '2043-03-31', '2043-04-30'],
              dtype='datetime64[ns]', length=250, freq='M')

In [13]:
index = pd.bdate_range('2022-08-1', periods=111)
index

DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-08', '2022-08-09', '2022-08-10',
               '2022-08-11', '2022-08-12',
               ...
               '2022-12-20', '2022-12-21', '2022-12-22', '2022-12-23',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2023-01-02'],
              dtype='datetime64[ns]', length=111, freq='B')

In [14]:
start = datetime(2021, 10, 1)
end = datetime(2022, 10, 1)
rng = pd.date_range(start, end, freq='W')
rng

DatetimeIndex(['2021-10-03', '2021-10-10', '2021-10-17', '2021-10-24',
               '2021-10-31', '2021-11-07', '2021-11-14', '2021-11-21',
               '2021-11-28', '2021-12-05', '2021-12-12', '2021-12-19',
               '2021-12-26', '2022-01-02', '2022-01-09', '2022-01-16',
               '2022-01-23', '2022-01-30', '2022-02-06', '2022-02-13',
               '2022-02-20', '2022-02-27', '2022-03-06', '2022-03-13',
               '2022-03-20', '2022-03-27', '2022-04-03', '2022-04-10',
               '2022-04-17', '2022-04-24', '2022-05-01', '2022-05-08',
               '2022-05-15', '2022-05-22', '2022-05-29', '2022-06-05',
               '2022-06-12', '2022-06-19', '2022-06-26', '2022-07-03',
               '2022-07-10', '2022-07-17', '2022-07-24', '2022-07-31',
               '2022-08-07', '2022-08-14', '2022-08-21', '2022-08-28',
               '2022-09-04', '2022-09-11', '2022-09-18', '2022-09-25'],
              dtype='datetime64[ns]', freq='W-SUN')

In [15]:
pd.bdate_range(end=end, periods=250)

DatetimeIndex(['2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21',
               '2021-10-22', '2021-10-25', '2021-10-26', '2021-10-27',
               '2021-10-28', '2021-10-29',
               ...
               '2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22',
               '2022-09-23', '2022-09-26', '2022-09-27', '2022-09-28',
               '2022-09-29', '2022-09-30'],
              dtype='datetime64[ns]', length=250, freq='B')

In [16]:
pi = pd.period_range('2022-7-30', periods=666)
pi

PeriodIndex(['2022-07-30', '2022-07-31', '2022-08-01', '2022-08-02',
             '2022-08-03', '2022-08-04', '2022-08-05', '2022-08-06',
             '2022-08-07', '2022-08-08',
             ...
             '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-19',
             '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23',
             '2024-05-24', '2024-05-25'],
            dtype='period[D]', length=666)

In [17]:
import numpy as np

dates = [pd.Timestamp('2022-08-01'), pd.Timestamp('2022-09-01'),
         pd.Timestamp('2022-10-01')]  # 创建三个时间元素。
ts = pd.Series(np.random.randn(3), dates)   # 创建索引值为随机数的 Series 对象。
ts

2022-08-01   -0.523837
2022-09-01    0.256401
2022-10-01   -1.291272
dtype: float64

In [18]:
periods = [pd.Period('2022-08'), pd.Period('2022-09'), pd.Period('2022-10')]
ts = pd.Series(np.random.randn(3), periods)
ts

2022-08    0.547171
2022-09   -0.640314
2022-10   -1.462632
Freq: M, dtype: float64

In [24]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2021-10-03    0.050215
2021-10-10   -0.380202
2021-10-17   -2.354095
2021-10-24   -0.776603
2021-10-31    2.473061
2021-11-07    0.172723
2021-11-14    0.730014
2021-11-21    1.603010
2021-11-28    1.465620
2021-12-05    0.814812
2021-12-12   -1.002106
2021-12-19    0.384649
2021-12-26    0.041269
2022-01-02    1.701469
2022-01-09   -0.918851
2022-01-16   -2.072158
2022-01-23   -0.336000
2022-01-30    1.450842
2022-02-06    0.249461
2022-02-13   -1.070255
2022-02-20   -1.588077
2022-02-27   -0.148469
2022-03-06   -1.043684
2022-03-13   -0.660691
2022-03-20   -2.592261
2022-03-27    0.128708
2022-04-03    0.617720
2022-04-10   -0.154878
2022-04-17   -1.365785
2022-04-24    0.238171
2022-05-01   -0.165012
2022-05-08    0.446510
2022-05-15   -0.969471
2022-05-22   -0.963675
2022-05-29    0.994837
2022-06-05   -0.308899
2022-06-12   -0.363919
2022-06-19    0.305663
2022-06-26   -0.700153
2022-07-03    0.333084
2022-07-10   -1.278742
2022-07-17    0.474866
2022-07-24   -0.165259
2022-07-31   -0.562650
2022-08-07   -0.829184
2022-08-14   -0.404676
2022-08-21    0.986366
2022-08-28    0.148131
2022-09-04   -0.395449
2022-09-11   -0.694425
2022-09-18    0.104181
2022-09-25    0.052301
Freq: W-SUN, dtype: float64

In [25]:
ts[:10]

2021-10-03    0.050215
2021-10-10   -0.380202
2021-10-17   -2.354095
2021-10-24   -0.776603
2021-10-31    2.473061
2021-11-07    0.172723
2021-11-14    0.730014
2021-11-21    1.603010
2021-11-28    1.465620
2021-12-05    0.814812
Freq: W-SUN, dtype: float64

In [26]:
ts[::2]

2021-10-03    0.050215
2021-10-17   -2.354095
2021-10-31    2.473061
2021-11-14    0.730014
2021-11-28    1.465620
2021-12-12   -1.002106
2021-12-26    0.041269
2022-01-09   -0.918851
2022-01-23   -0.336000
2022-02-06    0.249461
2022-02-20   -1.588077
2022-03-06   -1.043684
2022-03-20   -2.592261
2022-04-03    0.617720
2022-04-17   -1.365785
2022-05-01   -0.165012
2022-05-15   -0.969471
2022-05-29    0.994837
2022-06-12   -0.363919
2022-06-26   -0.700153
2022-07-10   -1.278742
2022-07-24   -0.165259
2022-08-07   -0.829184
2022-08-21    0.986366
2022-09-04   -0.395449
2022-09-18    0.104181
Freq: 2W-SUN, dtype: float64

In [27]:
ts[[0, 2, 6]]

2021-10-03    0.050215
2021-10-17   -2.354095
2021-11-14    0.730014
dtype: float64

In [32]:
ts["2022-07-10"]

-1.2787422572808953

In [33]:
ts["2022"]

2022-01-02    1.701469
2022-01-09   -0.918851
2022-01-16   -2.072158
2022-01-23   -0.336000
2022-01-30    1.450842
2022-02-06    0.249461
2022-02-13   -1.070255
2022-02-20   -1.588077
2022-02-27   -0.148469
2022-03-06   -1.043684
2022-03-13   -0.660691
2022-03-20   -2.592261
2022-03-27    0.128708
2022-04-03    0.617720
2022-04-10   -0.154878
2022-04-17   -1.365785
2022-04-24    0.238171
2022-05-01   -0.165012
2022-05-08    0.446510
2022-05-15   -0.969471
2022-05-22   -0.963675
2022-05-29    0.994837
2022-06-05   -0.308899
2022-06-12   -0.363919
2022-06-19    0.305663
2022-06-26   -0.700153
2022-07-03    0.333084
2022-07-10   -1.278742
2022-07-17    0.474866
2022-07-24   -0.165259
2022-07-31   -0.562650
2022-08-07   -0.829184
2022-08-14   -0.404676
2022-08-21    0.986366
2022-08-28    0.148131
2022-09-04   -0.395449
2022-09-11   -0.694425
2022-09-18    0.104181
2022-09-25    0.052301
Freq: W-SUN, dtype: float64

In [34]:
ts["2022-09"]

2022-09-04   -0.395449
2022-09-11   -0.694425
2022-09-18    0.104181
2022-09-25    0.052301
Freq: W-SUN, dtype: float64

In [37]:
ts.truncate(before='11/26/2021', after='4/29/2022')

2021-11-28    1.465620
2021-12-05    0.814812
2021-12-12   -1.002106
2021-12-19    0.384649
2021-12-26    0.041269
2022-01-02    1.701469
2022-01-09   -0.918851
2022-01-16   -2.072158
2022-01-23   -0.336000
2022-01-30    1.450842
2022-02-06    0.249461
2022-02-13   -1.070255
2022-02-20   -1.588077
2022-02-27   -0.148469
2022-03-06   -1.043684
2022-03-13   -0.660691
2022-03-20   -2.592261
2022-03-27    0.128708
2022-04-03    0.617720
2022-04-10   -0.154878
2022-04-17   -1.365785
2022-04-24    0.238171
Freq: W-SUN, dtype: float64

In [38]:
ts1 = ts[:5]  # 取前 5 条数据方便观察。
ts1

2021-10-03    0.050215
2021-10-10   -0.380202
2021-10-17   -2.354095
2021-10-24   -0.776603
2021-10-31    2.473061
Freq: W-SUN, dtype: float64

In [39]:
ts1.shift(1)

2021-10-03         NaN
2021-10-10    0.050215
2021-10-17   -0.380202
2021-10-24   -2.354095
2021-10-31   -0.776603
Freq: W-SUN, dtype: float64

In [40]:
ts1.shift(1, freq='W')

2021-10-10    0.050215
2021-10-17   -0.380202
2021-10-24   -2.354095
2021-10-31   -0.776603
2021-11-07    2.473061
Freq: W-SUN, dtype: float64

重采样可以通俗得理解为改变时间索引的个数，通过增大或减小相邻索引的时间间隔以达到减小或增加索引数量的效果，在 Pandas 中使用 resample() 函数。
下采样：增大时间间隔，减少记录的数量。创建从 2022 年 8 月 1 日开始的日间隔索引的 Series 。

In [41]:
rng = pd.date_range('8/1/2022', periods=10, freq='D')
ts = pd.Series(np.random.randint(0, 50, len(rng)), index=rng)
ts

2022-08-01    49
2022-08-02    32
2022-08-03    41
2022-08-04    10
2022-08-05     1
2022-08-06    19
2022-08-07    11
2022-08-08    25
2022-08-09    10
2022-08-10     4
Freq: D, dtype: int32

In [42]:
ts.resample('W').sum()

2022-08-07    163
2022-08-14     39
Freq: W-SUN, dtype: int32

In [43]:
ts.resample('W').mean()

2022-08-07    23.285714
2022-08-14    13.000000
Freq: W-SUN, dtype: float64

使用 ohlc() 函数对所用未被采样值进行统计。

In [44]:
ts.resample('W').ohlc()

            open  high  low  close
2022-08-07    49    49    1     11
2022-08-14    25    25    4      4

上采样：减小时间间隔频率，增加记录的数量。
原来间隔为日的索引列，间隔被缩小成 12 小时，增加采样点的值为空值。

In [45]:
ts.resample('12H').asfreq()

2022-08-01 00:00:00    49.0
2022-08-01 12:00:00     NaN
2022-08-02 00:00:00    32.0
2022-08-02 12:00:00     NaN
2022-08-03 00:00:00    41.0
2022-08-03 12:00:00     NaN
2022-08-04 00:00:00    10.0
2022-08-04 12:00:00     NaN
2022-08-05 00:00:00     1.0
2022-08-05 12:00:00     NaN
2022-08-06 00:00:00    19.0
2022-08-06 12:00:00     NaN
2022-08-07 00:00:00    11.0
2022-08-07 12:00:00     NaN
2022-08-08 00:00:00    25.0
2022-08-08 12:00:00     NaN
2022-08-09 00:00:00    10.0
2022-08-09 12:00:00     NaN
2022-08-10 00:00:00     4.0
Freq: 12H, dtype: float64

ffill() 函数可以将新增的索引值以相邻的前一条索引值进行填充。

In [46]:
ts.resample('12H').ffill()

2022-08-01 00:00:00    49
2022-08-01 12:00:00    49
2022-08-02 00:00:00    32
2022-08-02 12:00:00    32
2022-08-03 00:00:00    41
2022-08-03 12:00:00    41
2022-08-04 00:00:00    10
2022-08-04 12:00:00    10
2022-08-05 00:00:00     1
2022-08-05 12:00:00     1
2022-08-06 00:00:00    19
2022-08-06 12:00:00    19
2022-08-07 00:00:00    11
2022-08-07 12:00:00    11
2022-08-08 00:00:00    25
2022-08-08 12:00:00    25
2022-08-09 00:00:00    10
2022-08-09 12:00:00    10
2022-08-10 00:00:00     4
Freq: 12H, dtype: int32

In [48]:
d = pd.Timestamp(2022, 8, 1, 10, 1, 1)
d

Timestamp('2022-08-01 10:01:01')

In [50]:
from pandas.tseries.offsets import DateOffset
# 向后移动二个月两十天。
d + DateOffset(months=2, days=20)

Timestamp('2022-10-21 10:01:01')

In [51]:
from pandas.tseries.offsets import BDay
# 向前移动 10 个工作日
d - 10 * BDay()

Timestamp('2022-07-18 10:01:01')

In [52]:
from pandas.tseries.offsets import BMonthEnd
# 向后移动二个月末
d + 2*BMonthEnd()

Timestamp('2022-09-30 10:01:01')

In [53]:
from pandas.tseries.offsets import YearEnd

d + YearEnd(month=2)

Timestamp('2023-02-28 10:01:01')

In [54]:
from pandas.tseries.offsets import Week

d - Week(weekday=4)

Timestamp('2022-07-29 10:01:01')

In [55]:
# 。将时间移动到下一个月末
offset = BMonthEnd()
offset.rollforward(d)

Timestamp('2022-08-31 10:01:01')

In [56]:
# 将时间移动到上一个月末
offset.rollback(d)

Timestamp('2022-07-29 10:01:01')

In [57]:
rng

DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08',
               '2022-08-09', '2022-08-10'],
              dtype='datetime64[ns]', freq='D')

In [58]:
rng + DateOffset(days=2)

DatetimeIndex(['2022-08-03', '2022-08-04', '2022-08-05', '2022-08-06',
               '2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10',
               '2022-08-11', '2022-08-12'],
              dtype='datetime64[ns]', freq=None)

In [59]:
rng + 2*BDay()

DatetimeIndex(['2022-08-03', '2022-08-04', '2022-08-05', '2022-08-08',
               '2022-08-09', '2022-08-09', '2022-08-09', '2022-08-10',
               '2022-08-11', '2022-08-12'],
              dtype='datetime64[ns]', freq=None)

In [60]:
from pandas.tseries.offsets import Minute

rng + Minute(15)

DatetimeIndex(['2022-08-01 00:15:00', '2022-08-02 00:15:00',
               '2022-08-03 00:15:00', '2022-08-04 00:15:00',
               '2022-08-05 00:15:00', '2022-08-06 00:15:00',
               '2022-08-07 00:15:00', '2022-08-08 00:15:00',
               '2022-08-09 00:15:00', '2022-08-10 00:15:00'],
              dtype='datetime64[ns]', freq='D')

下采样聚合
下采样中的聚合是指下采样后，对未被采样到的点进行的一系列计算。
创建 100 个日历日为时间索引的 DataFrame，将其以月频率下采样。

In [65]:
df = pd.DataFrame(np.random.rand(666, 5),
                  index=pd.date_range('8/1/2022', freq='W', periods=666),
                  columns=['A', 'B', 'C', 'D', 'E'])
r = df.resample('M')
r

In [66]:
r.sum()

                   A         B         C         D         E
2022-08-31  1.405293  1.148069  2.904327  2.556748  3.274008
2022-09-30  1.690478  2.612679  1.611173  2.137552  2.899838
2022-10-31  1.654645  4.095151  3.675200  1.337641  2.398815
2022-11-30  2.730978  2.396328  2.546481  1.788219  1.492848
2022-12-31  2.352423  2.320834  2.344107  1.653121  2.653702
...              ...       ...       ...       ...       ...
2035-01-31  3.154032  2.251359  0.839562  1.624649  2.213024
2035-02-28  1.228775  2.702454  1.987611  1.021498  1.646137
2035-03-31  0.709429  2.047637  1.970733  1.769543  2.606068
2035-04-30  2.440268  1.168959  2.188544  1.868824  3.132402
2035-05-31  0.055033  0.440022  0.269196  0.856271  0.900102

[154 rows x 5 columns]

In [71]:
r[['C', 'E']].mean()

                   C         E
2022-08-31  0.726082  0.818502
2022-09-30  0.402793  0.724960
2022-10-31  0.735040  0.479763
2022-11-30  0.636620  0.373212
2022-12-31  0.586027  0.663425
...              ...       ...
2035-01-31  0.209891  0.553256
2035-02-28  0.496903  0.411534
2035-03-31  0.492683  0.651517
2035-04-30  0.437709  0.626480
2035-05-31  0.269196  0.900102

[154 rows x 2 columns]

使用 agg() 同时进行不同的计算。对采样结果进行取和与取均值计算。

In [72]:
r.agg([np.sum, np.mean])

                   A                   B                   C            \
                 sum      mean       sum      mean       sum      mean
2022-08-31  1.405293  0.351323  1.148069  0.287017  2.904327  0.726082
2022-09-30  1.690478  0.422619  2.612679  0.653170  1.611173  0.402793
2022-10-31  1.654645  0.330929  4.095151  0.819030  3.675200  0.735040
2022-11-30  2.730978  0.682745  2.396328  0.599082  2.546481  0.636620
2022-12-31  2.352423  0.588106  2.320834  0.580209  2.344107  0.586027
...              ...       ...       ...       ...       ...       ...
2035-01-31  3.154032  0.788508  2.251359  0.562840  0.839562  0.209891
2035-02-28  1.228775  0.307194  2.702454  0.675613  1.987611  0.496903
2035-03-31  0.709429  0.177357  2.047637  0.511909  1.970733  0.492683
2035-04-30  2.440268  0.488054  1.168959  0.233792  2.188544  0.437709
2035-05-31  0.055033  0.055033  0.440022  0.440022  0.269196  0.269196

                   D                   E
                 sum      mean       sum      mean
2022-08-31  2.556748  0.639187  3.274008  0.818502
2022-09-30  2.137552  0.534388  2.899838  0.724960
2022-10-31  1.337641  0.267528  2.398815  0.479763
2022-11-30  1.788219  0.447055  1.492848  0.373212
2022-12-31  1.653121  0.413280  2.653702  0.663425
...              ...       ...       ...       ...
2035-01-31  1.624649  0.406162  2.213024  0.553256
2035-02-28  1.021498  0.255374  1.646137  0.411534
2035-03-31  1.769543  0.442386  2.606068  0.651517
2035-04-30  1.868824  0.373765  3.132402  0.626480
2035-05-31  0.856271  0.856271  0.900102  0.900102

[154 rows x 10 columns]

In [73]:
# r['A'].agg([np.sum, np.mean, np.std])
# std：标准差
r.agg([np.sum, np.mean, np.std])

                   A                             B                      \
                 sum      mean       std       sum      mean       std
2022-08-31  1.405293  0.351323  0.208644  1.148069  0.287017  0.108599
2022-09-30  1.690478  0.422619  0.179063  2.612679  0.653170  0.151654
2022-10-31  1.654645  0.330929  0.365321  4.095151  0.819030  0.116548
2022-11-30  2.730978  0.682745  0.265593  2.396328  0.599082  0.375658
2022-12-31  2.352423  0.588106  0.259566  2.320834  0.580209  0.294786
...              ...       ...       ...       ...       ...       ...
2035-01-31  3.154032  0.788508  0.093845  2.251359  0.562840  0.404662
2035-02-28  1.228775  0.307194  0.157065  2.702454  0.675613  0.144689
2035-03-31  0.709429  0.177357  0.204912  2.047637  0.511909  0.279584
2035-04-30  2.440268  0.488054  0.201906  1.168959  0.233792  0.172747
2035-05-31  0.055033  0.055033       NaN  0.440022  0.440022       NaN

                   C                             D                      \
                 sum      mean       std       sum      mean       std
2022-08-31  2.904327  0.726082  0.273487  2.556748  0.639187  0.260514
2022-09-30  1.611173  0.402793  0.348654  2.137552  0.534388  0.412444
2022-10-31  3.675200  0.735040  0.241810  1.337641  0.267528  0.396609
2022-11-30  2.546481  0.636620  0.210143  1.788219  0.447055  0.261503
2022-12-31  2.344107  0.586027  0.269095  1.653121  0.413280  0.304629
...              ...       ...       ...       ...       ...       ...
2035-01-31  0.839562  0.209891  0.228958  1.624649  0.406162  0.282175
2035-02-28  1.987611  0.496903  0.450169  1.021498  0.255374  0.128211
2035-03-31  1.970733  0.492683  0.318458  1.769543  0.442386  0.283648
2035-04-30  2.188544  0.437709  0.145641  1.868824  0.373765  0.355121
2035-05-31  0.269196  0.269196       NaN  0.856271  0.856271       NaN

                   E
                 sum      mean       std
2022-08-31  3.274008  0.818502  0.074254
2022-09-30  2.899838  0.724960  0.140870
2022-10-31  2.398815  0.479763  0.319306
2022-11-30  1.492848  0.373212  0.210427
2022-12-31  2.653702  0.663425  0.407522
...              ...       ...       ...
2035-01-31  2.213024  0.553256  0.295082
2035-02-28  1.646137  0.411534  0.199133
2035-03-31  2.606068  0.651517  0.251568
2035-04-30  3.132402  0.626480  0.299125
2035-05-31  0.900102  0.900102       NaN

[154 rows x 15 columns]